<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property name="IS_ENVIRONMENT_DEVL_QUAL_CERT_OR_PROD" value="true" />
    <property name="LOG_LEVEL" value="DEBUG" />

    <if condition='"${Environment}".equalsIgnoreCase("Prod")'>
        <then>
            <property name="LOG_LEVEL" value="ERROR" />
        </then>
    </if>

<!--    <if condition='"${Environment}".equalsIgnoreCase("Local")'>-->
<!--        <then>-->
<!--            <property name="IS_ENVIRONMENT_DEVL_QUAL_CERT_OR_PROD" value="false" />-->
<!--        </then>-->
<!--    </if>-->

<!--    <if condition='"${Environment}".equalsIgnoreCase("qa")'>-->
<!--        <then>-->
<!--            <property name="IS_ENVIRONMENT_DEVL_QUAL_CERT_OR_PROD" value="false" />-->
<!--        </then>-->
<!--    </if>-->

<!--    <if condition='"${Environment}".equalsIgnoreCase("dev")'>-->
<!--        <then>-->
<!--            <property name="IS_ENVIRONMENT_DEVL_QUAL_CERT_OR_PROD" value="false" />-->
<!--        </then>-->
<!--    </if>-->

<!--    <if condition='"${Environment}".equalsIgnoreCase("Environment_IS_UNDEFINED")'>-->
<!--        <then>-->
<!--            <property name="IS_ENVIRONMENT_DEVL_QUAL_CERT_OR_PROD" value="false" />-->
<!--        </then>-->
<!--    </if>-->

    <if condition='property("IS_ENVIRONMENT_DEVL_QUAL_CERT_OR_PROD").equalsIgnoreCase("true")'>
        <then>
            <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>
                        %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
                    </Pattern>
                </layout>
            </appender>

            <logger name="com.dd.service.config" level='${LOG_LEVEL}' additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>

            <logger name="com.amazonaws" level="ERROR" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>

            <logger name="org.springframework" level="WARN" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>

            <logger name="org.apache" level="WARN" additivity="false">
                <appender-ref ref="CONSOLE" />
            </logger>

            <root level="${LOG_LEVEL}">
                <appender-ref ref="CONSOLE" />
            </root>

        </then>
        <else>
            <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>./log/config-server.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>./log/config-server.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
                    <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                        <maxFileSize>5MB</maxFileSize>
                    </timeBasedFileNamingAndTriggeringPolicy>
                    <!-- keep N days' worth of history -->
                    <maxHistory>1</maxHistory>
                    <totalSizeCap>1GB</totalSizeCap>
                </rollingPolicy>
                <encoder>
                    <charset>UTF-8</charset>
                    <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %thread %level %logger %line %msg %n</pattern>
                </encoder>
            </appender>

            <logger name="com.dd.service.config" level="DEBUG" additivity="false">
                <appender-ref ref="FILE" />
            </logger>

            <logger name="com.amazonaws" level="ERROR" additivity="false">
                <appender-ref ref="FILE" />
            </logger>

            <logger name="org.springframework" level="WARN" additivity="false">
                <appender-ref ref="FILE" />
            </logger>

            <logger name="org.apache" level="WARN" additivity="false">
                <appender-ref ref="FILE" />
            </logger>

            <root level="DEBUG">
                <appender-ref ref="FILE" />
            </root>
        </else>
    </if>
</configuration>